header {
    height: 200px;
    width: 100%;
    background: #2c3e50;
    color: #fff;
    font-size: 45pt;
}

#zx {
    float: left;
}

.head {
    text-align: center;
    position: relative;
    bottom: -40px;
    right: -10px;
}

#hyper {
    text-align: center;
    margin: 0 auto;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: #2c3e50;
    max-width: 960px;
    font-size: 20pt;
    margin: 0 auto;
    padding: 10px;
    align-items: center;
}

table {
    border: 1px solid grey;
    margin: 20px auto;
    color: #1E0BF4;
}

th {
    border: 1px solid grey;
    color: #1E0BF4;
}

td {
    border: 1px solid grey;
    color: #1E0BF4;
}

.content {
    display: flex;
    flex: auto;
    flex-direction: column;
    background-color: #2c3e50;
    text-align: center;
    align-items: center;
    width: 100%;
}

li {
    text-align: left;
}

a {
    color: white;
}

#tab {
    display: flex;
    background-color: #2c3e50;
}

footer {
    width: 100%;
    height: 40px;
    background-color: #2c3e50;
    margin: 20px auto;
    text-align: center;
}

#end {
    padding: 10px;
    color: #ffee00;
    font-style: italic;
    font-size: 20px;
    text-align: center;
}

#hyper {
    order: 1;
}

#forma {
    order: 2;
}

#tab {
    order: 3;
    margin: 20px;
}

footer {
    order: 4;
}

.nechet {
    background-color: #F72690;
}

.chet {
    background-color: #12F346;
}

@media screen and (min-width: 800px) and (orientation: landscape) {
    nav {
        max-width: 980px;
        flex-direction: row;
        justify-content: space-around;
    }
    #hyper {
        order: 1;
    }
    #tab {
        order: 2;
        margin: auto;
    }
    #forma {
        order: 3;
        margin: 20px;
    }
    footer {
        order: 4;
    }
}